@model IEnumerable<PlataformaVirutalEducativa.Models.InscripcionActions>

@{
    ViewBag.Title = "MisCursos";
}

<h2>MisCursos</h2>
            @if (ViewBag.id == 0)
            {
                <ul><li>NO TIENES NIGUN CURSO REGISTRADO</li></ul> 
            }
            else
            {
                foreach (var item in ViewBag.info) 
                {
                     foreach (var item2 in ViewBag.inscripcion)
                     {
                     
                     
                             if (ViewBag.id == item2.idusuario && @item2.idcurso == item.idcurso)
                             {
                            <ul class="formulario">
                                <li class="bloque">      
                                    <table class="contenido">
                                        <tr>
                                            <th class="titulo">@item.titulocurso </th>
                                        </tr>
                                        <tr class="detalle">
                                            <th ><a href="/Curso/Salas/@item.idcurso">INGRESAR</a></th>
                                        </tr>                            
                                    </table>      
                                </li>          
                            </ul>
                            }
                     }
                }  
            }  
